body {
    color: var(--bs-white);
}

.yellow{
    color: var(--bs-yellow);
}

.red{
    color: var(--bs-red);
}
.background-body {
    background-color: #222f3e;
}
td,
th {
    border-bottom: 1px solid #aaa;
    padding: 5px;
}

thead th {
    background-color: #333;
    color: white;
    font-size: 80%;
}

tbody td {
    font-size: 24px;
    text-shadow: 1px 1px 1px black;
}

.poster{
    width: 200px;
    height: 300px;
    transition: all .3s ease-in-out;
}

.poster-container{
    position: relative;
}

.play{
    position:absolute;
    opacity: 0;
    top:20%; 
    margin:0 auto; 
    left:0px;
    right:0px;
    z-index:100;
    transition: all .5s;
    color: white;
}

.poster-container:hover .play{
    opacity:1; 
    cursor:pointer;
    font-size: 4rem;
    transform: translateY(-50%);
}

.poster-container:hover .poster{
    opacity: .3;
    filter: blur(3px);
    transform: scale(1.2);
    cursor: pointer;
}



.rating{
    font-size: .75rem;
}
.plot{
    color: var(--bs-secondary);
}

.director + p, .actor + p, .awards + p{
    font-size: .75rem;
}

.tags > span{
    padding: 0.5rem;
}

.external-link, .commentaire{
    background-color: #34485f;
}

.bi-youtube::before {
        margin-right: 10px;
}

.note{
    background-color: #222f3e !important;
    width: 20px !important;
}

.note:hover{
    border-bottom: 1px solid rgb(206, 206, 206) !important;
}

.note:focus{
    box-shadow: none !important;
}

.link-series:hover{
    color: var(--bs-yellow) !important;
}