{% extends 'base.html.twig' %}

{% block title %}New Series{% endblock %}

{% block main %}
    <h1>Enregistrer une série dans la base de données</h1>

    <form method="GET" action="{{ path('series_new') }}">
        <input type="text" name="imdb">
        <input type="submit" value="Enregistrer">
    </form>
{% endblock %}
