{% extends 'base.html.twig' %}

{% block title %}New Series{% endblock %}

{% block main %}
   
    <div class="container text-center">
        <div class="row justify-content-center">
            <h1 class="text-white d-inline-block">Ajouter une série à la base de données</h1>
            <form method="GET" action="{{ path('series_add') }}" class="w-25">
                <div class="mb-3">
                    <label for="InputIMDB" class="form-label text-white text-left">Code IMDB</label>
                    <input type="text" class="form-control"  id="InputIMDB" name="imdb" required>
                </div>
                
                <button type="submit" class="btn btn-primary">Ajouter Série</button>
            </form>
        
        </div>
    </div>
    {% if error != NULL %}
        <p class="text-center text-white mt-3">{{ error }}<p>
    {% endif %}
{% endblock %}
